*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}
/* header inizio */
header{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color:#3161E0;
  height: 80px;
  border: solid blue;
}
.botton-accedi{
  height: 40px;
  border-radius:25px;
  box-sizing: border-box;
  width: 65px;
}
nav{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  width: 1000px;
  list-style: none;
}
nav ul{
  display: flex;
  justify-content: space-around;
  list-style: none;
  
}
nav ul li a{
  color: white;
  list-style: none;
  text-decoration: none;
}
nav ul li a:hover{
  background-color: rgb(17, 5, 188);
}
/* header fine */

/* jambotron inizio */
.jambotron-container{
  background-color: #3161E0;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items:center;
  margin: top 50px;
  background-image: url(img/jumbo.png);
  max-width: 100%;
  background-size:cover;
  flex-direction: row;
  
}
.h1-jumbo{
  display: flex;
  justify-content: flex-start;
  height:30%;
  max-width: 100%;
  font-size: larger;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: auto;
  padding: 10px;
  color: white;
  
 
}
.p-jumbo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height:50%;
  color: white;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 3px;
  

}
.jambo{
  height: 200px;
  width: 500px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin: auto;
  filter: alpha(opacity=80);
}
.bottoni-jumb{
  display: flex;
  border: radius 10%;
  justify-content:center;
  height:20%;
  justify-content:space-around;
  box-sizing: border-box;
  
}
.bottone-her{
  border: radius 10px;
  width: 170px;
  display: flex;
  background-color: black;
  padding:15px 15px;
  border-radius:30%;
}
.bottone-hero-scarica{
  border: radius:25px;
  width: 200px;
  box-sizing: border-box;
  padding:10px 15px;
  display: flex;
  
  

}
/* jambotron fine */

/* box1 */
.container1{
  background-color: white;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items:center;
  display: inline block
}
.immagine1{
  height: 300px;
  width: 400px;
  display: inline-block;
  background-color: white;
  display: flex;
  justify-content: center;
  background-size: cover;
}
.testo1{
  height: 300px;
  width: 200px;
  display: inline-block;
  flex-direction: column;
  background-color:white;
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:10px;
}
/* fine box1 */

/* box2 */

.container2{
  background-color:#F6F6F6;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items:center;
  display: inline block;
  filter: alpha(opacity=80);
}
.testo2{
  height: 300px;
  width: 200px;
  display: inline-block;
  flex-direction: column;
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:10px;
  filter: alpha(opacity=80);
}
.immagine2{
  height: 300px;
  width: 400px;
  display: inline-block;
  filter: alpha(opacity=80);
  display: flex;
  justify-content: center;
  background-size: cover;
}
/* fine box2 */

/* box3 */
.container3{
  background-color: white;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items:center;
  display: inline block
}
.immagine3{
  height: 250px;
  width: 400px;
  display: inline-block;
  background-color:white;
  display: flex;
  justify-content: center;
}
.testo3{
  height: 300px;
  width: 200px;
  display: inline-block;
  flex-direction: column;
  background-color:white;
  display: flex;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight:10px;
}
  
  /* fine box3 */

  /*  box 4*/
  .container4{
    background-color:white;
    height: 600px;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .testo4{
  display: flex;
  justify-content: flex-start;
  height:30%;
  max-width: 100%;
  font-size: larger;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin: auto;
  padding: 10px;
  font-size:large;
  }

  .testo-paragrafo{
  display: flex;
  justify-content:center;;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin: auto;
  

  }
  .immagine4{
  display: flex;
  justify-content:center;
  font-size: larger;
  margin: auto;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  }
  .testo-bottone{
    display: flex;
  justify-content:center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  margin: auto;
    
  }
  .stars{
    display: flex;
    justify-content:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: auto;
  }
  .botton-mc{
    display: flex;
    justify-content:flex-end;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: auto;
    background-color: #8EA1E1;
    border-radius:15%;
    width: 250px;
    padding:10px 15px;
    height:50px;
    filter: alpha(opacity=80);
    box-sizing: ;
  }
  .bottoni-img{
    border: radius:10%;
    width: 250px;
    padding:10px 15px;
    filter: alpha(opacity=80); 
    
    
  
  }
  .stars{
    max-width: 300px;
    display: flex;
    justify-content:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    margin: auto;
    
  }
  
  .quadrato{
    height: 900px;
    width: 800px;
    display: inline-block;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    filter: alpha(opacity=80)
  }
  /*  fine box 4*/

  /* footer */
  .box{
    background-color:#212427;;
  height: 500px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items:center;
  text-decoration: none;
  }
  .colonne{
    text-decoration: none;
    height: 400px;
    width: 600px;
    filter: alpha(opacity=80);
    display: flex;
    filter: alpha(opacity=80);
    text-decoration: none;
    justify-content: space-around;
    
  }
  .colonna1{
    height: 400px;
    width:200px;
    color: white;
    
    filter: alpha(opacity=80);
    display: flex;
    border: solid black;
  }
  .colonna-u{
    height: 400px;
    width: 100px;
    filter: alpha(opacity=80);
    display: flex;
    border: solid black;
    color: white;
    text-decoration: none;
  }
  .last-box{
    height: 100px;
    width: 600px;
    margin: auto;
    display: flex;
    
    justify-content: space-between;
    align-content: center;
  }
  .bottone-last{
    height: 50px;
    width: 70px;
    display: flex;
    background-color: azure;
    justify-content: center;
    align-content: center;
    
  }
  .logo-footer{
    display: flex;
    filter: alpha(opacity=80);
    max-width:40px;


    
    
  }
  .last-footer-box{
    background-color:#212427;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items:center;
  }
  .bottone-accedi{
   height: 40px;
  border-radius:25px;
  box-sizing: border-box;
  width: 65px;
  }
  #titolo-colonna{
    color: #8EA1E1;
    text-align: center;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
  }
  #ita{
   display: inline;
   width:20%;
   width: 25%;
  }
  #move{
    color: #8EA1E1;

  }


  


